.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    .card {
        width: 1000px;
        height: 500px;
    }
}